<div class="container">
  <div class="row">
    <div class="tutorials">
    <% @tutorials.each do |tutorial| %>
      <div class="col-sm-3">
        <div class="thumbnail" style="height: 315px;">
          <div class="caption">
            <p class="pull-right">
              <span class="badge">tag</span>
            </p>
            <h3><%= link_to tutorial.title, tutorial %></h3>
            <p><%= tutorial.posts.count %> post(s)</p>
            <p>Last synchronized <%= time_ago_in_words tutorial.updated_at %> ago.</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%# TODO: add this to navbar dropdown menu %>
<%#<%= link_to 'New Tutorial', new_tutorial_path %>
